.content {
    border: solid thin red;
    
}

.main-div-sides{
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

.left-side{
    border: solid thin brown;
    width: 30%;
}

.right-side{
    border: solid thin blue;
    width: 70%;
}