.cards {

    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    flex-wrap: wrap;
}

.div-button {
    margin:  20px
}

.content{
    margin-top: 20px;
   
}

.hidden {
    display: none;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
